@import "bootstrap";

body {
    background-image: url(asset-path('grass.jpg'));
}

.main-form {
    background-color: #99F;
    margin-top: 150px;
    text-align: center;
}

.char-status {
    color: #f33;
}